* {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    
}

#calculator {
    width: 210px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C1C;
    color: white;

}

#calculator-display {
    border: 1px solid black;
    height: 30px;
    width: 150px;
    margin: 10px;
    font-size: 25px;
    text-align: end;
    padding: 10px;
}

#calculator-body {
    margin: 15px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #505050;
    color: white;
    font-size: 15px;
    font-weight: bold;
  
}

button:hover {
    background-color: grey;
    transition: 0.3s;    

}

#ac-sign {
    background-color: #D4D4D2;
    color: black;
}

#divide-sign,
#multiply-sign,
#plus-sign,
#minus-sign,
#equals-sign {
    background-color: #FF9500;
}

