* {
    margin: 0;
    padding: 0;
}

#calculator-display {
    border: 1px solid black;
    height: 30px;
    width: 150px;
    margin: 10px;
    font-size: 20px;
    text-align: end;
    padding: 10px;
}