* {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    background-color: #1C1C1C;
}

#calculator {
    width: 205px;
    height: 300px;
    border: 1px groove lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    transform: scale(1.5);
}

#calculator-display {
    /* border: 1px groove lightslategray; */
    width: 150px;
    height: 100px;
    margin-top: 10px;
    font-size: 35px;
    display: flex;
    align-self: center;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

#calculator-body {
    margin: 15px;
    margin-top: 1px;
}

button {
    width: 40px;
    height: 40px;
    border:none;
    border-radius: 30px;
    background-color: #505050;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
    
}

button:hover {
    background-color: grey;
    transition: 0.3s;

}

#ac-sign {
    background-color: #D4D4D2;
    color: black;
}

#ac-sign:hover {
    background-color: #ecece8;
    color: black;
    transition: 0.3s;    

}

#divide-sign,
#multiply-sign,
#plus-sign,
#minus-sign,
#equals-sign {
    background-color: #FF9500;
}

#divide-sign:hover,
#multiply-sign:hover,
#plus-sign:hover,
#minus-sign:hover,
#equals-sign:hover {
    background-color: #f7d29e;
    transition: 0.3s;
}

#number-zero {
    width: 85px;
    padding: 10px;
    padding-left: 15px;
    text-align: start;
    margin-top: 2.85px;
}


body {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#calculator-display {
    -webkit-user-drag: content;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
  }

  